name: Formatters
on: [push]
jobs:  
  cspell:
    name: CSpell
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Run CSpell
        uses: streetsidesoftware/cspell-action@v8
        with:
          files: '**/*.md'
          strict: false
          incremental_files_only: false
          verbose: true
